<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

**<h1>Capstone</h1>**

**<h1>SpaceX Falcon 9 First Stage Landing Prediction</h1>**

# **Exploratory Data Analysis**

## <h2><u>Steps</u></h2>

### 1. Install Necessary Libraries

You need to install SQLAlchemy, ipython-sql, pandas, and SQLite in your Colab environment.

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql
!pip install -q pandas

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 18.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp310-cp310-linux_x86_64.whl size=1192338 sha256=aef52b9c16617c96e52368a158f50455d028bfa3457f684a24f8e267aa4f571e
  Stored in directory: /root/.cache/pip/wheels/8b/6d/9c/e1793e5a2d85b89b8c362a4f0e3def54b786bcd14923b9ff00
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.35
    Uninstalling SQLAlchemy-2.0.35:
      Successfully uninstalled SQLAlchemy-2.0.35
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 1.17.0 requires sqlalchemy<3.0dev,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.35-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (71.0.4)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Using cached jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Using cached SQLAlchemy-2.0.35-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Using cached jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed jedi-0.19.1 sqlalchemy-2.0.35

### 2. Set Up SQL

In [ ]:
# Load the SQL extension
%load_ext sql

# Import Necessary Libraries
import csv, sqlite3
import pandas as pd

### 3. Connect to SQLite Database

In [ ]:
# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Enable SQL magic in Colab
%sql sqlite:///my_data1.db

### 4. Load the SpaceX Dataset into the Database

In [ ]:
# Load the SpaceX dataset into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Write the DataFrame to the SQLite database as a table
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

101

### 5. Create a Cleaned Table (Remove Blank Rows)

To ensure that the table doesn't have blank rows (i.e., rows where Date is NULL), create a new table that filters out such rows:

In [ ]:
# Drop the table if it already exists
%sql DROP TABLE IF EXISTS SPACEXTABLE;

# Create a new table with no null values in the Date column
%sql CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
Done.

[]

### 6. Verify the Data in the Cleaned Table

You can run basic queries to ensure the data has been loaded correctly and that there are no blank rows.

In [ ]:
# Check the first 5 rows in the SPACEXTABLE
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

# Check the number of records in the SPACEXTABLE
%sql SELECT COUNT(*) FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
Done.

[(101,)]

In [ ]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## <h2><u>Tasks</u></h2>

### 1. Display the names of the unique launch sites in the space mission.

In [ ]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### 2. Display 5 records where launch sites begin with the string 'CCA'.

In [ ]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### 3. Display the total payload mass carried by boosters launched by NASA (CRS).

In [ ]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS TotalPayloadMass FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" LIKE 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(None,)]

### 4. Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS AvgPayloadMass FROM SPACEXTABLE WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### 5. List the date when the first successful landing outcome in ground pad was achieved.

In [ ]:
%sql SELECT MIN("Date") AS FirstSuccessfulLanding FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success';

 * sqlite:///my_data1.db
Done.

[('2018-07-22',)]

### 6. List the names of the boosters which have success in a drone ship and have payload mass greater than 4000 but less than 6000.

In [ ]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success' AND "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### 7. List the total number of successful and failed mission outcomes.

In [ ]:
%sql SELECT "Landing_Outcome", COUNT(*) AS TotalOutcomes FROM SPACEXTABLE GROUP BY "Landing_Outcome";

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

### 8. List the booster versions that have carried the maximum payload mass.

In [ ]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### 9. List records with the month names, failed landing outcomes on drone ships, booster versions, and launch sites for the year 2015.

In [ ]:
%sql SELECT SUBSTR("Date", 6, 2) AS Month, "Landing_Outcome", "BoosterVersion", "LaunchSite" FROM SPACEXTABLE WHERE "Landing_Outcome" IN ('Failure (drone ship)', 'Precluded (drone ship)', 'Success (drone ship)') AND SUBSTR("Date", 1, 4) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'BoosterVersion', 'LaunchSite'),
 ('04', 'Failure (drone ship)', 'BoosterVersion', 'LaunchSite'),
 ('06', 'Precluded (drone ship)', 'BoosterVersion', 'LaunchSite')]

10. Rank the count of landing outcomes between 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%sql SELECT "Landing_Outcome", COUNT(*) AS OutcomeCount FROM SPACEXTABLE WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY OutcomeCount DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]